/* ------------------------------------------------------------------------- */
/* General */
/* ------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../imgs/cork-wallet.png");
    margin-bottom: 100px; /* Margin bottom by footer height */
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    font-size: 30px;
    color: #4aaaa5;
    margin-top: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid #dddddd;
}

hr {
    margin-bottom: 25px;
    border-top: 2px solid rgba(82, 82, 103, 0.3);
}
  
/* ------------------------------------------------------------------------- */
/* Nav Bar */
/* ------------------------------------------------------------------------- */

.navbar {
    padding: 0;
}

.navbar-header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 35px;
    font-weight: 900;
    padding: 30px;
}

.nav-link {
    border-left: 1px solid #cccccc;
    color: rgba(0,0,0,.3);
}

/* ------------------------------------------------------------------------- */
/* About */
/* ------------------------------------------------------------------------- */

.cardMain {
    margin-top: 25px;
}

#profilePic {
    margin: 30px 15px 15px 30px;
    width: 200px;
    float: left;
}

.card-text {
    margin: 0 30px 15px 30px;
}

.card-body {
    overflow: auto;
}

/* ------------------------------------------------------------------------- */
/* Contact */
/* ------------------------------------------------------------------------- */

.btn-send {
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 50px;
}

/* ------------------------------------------------------------------------- */
/* Portfolio */
/* ------------------------------------------------------------------------- */

.card,
.cardImg {
    margin-bottom: 25px;
}

.card-body {
    padding: 0;
}

h3 {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
}

/* ------------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------------- */

.footer {
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    border-top: solid 8px #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 120px; /* Vertically center the text there */
}

/* ------------------------------------------------------------------------- */
/* Media Queries */
/* ------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {

    h1 {
        text-align: center;
    }

    .card {
        margin-bottom: 10px;
    }

    #profilePic {
        margin: 10px auto;
    }

    .card-text {
        margin: 20px;
    }

    h3 {
        padding: 5px;
        font-size: 22px;
    }

    .btn-send {
        margin: 20px 0;
        width: 100%;
    }
}