* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../imgs/cork-wallet.png");
}
  

/* header */

.container-fluid {
    background-color: #ffffff;
}

.navbar-header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    font-size: 30px;
    padding: 23px;
    margin-left: 176px;
}

.nav,
.navbar-nav,
.navbar-right {
    margin-right: 157px;
    padding: 20px;
}

nav a {
    border-left: 1px solid #cccccc;
    color: #777777;
}


/* general */

.container {
    margin-top: 130px;
    margin-bottom: 150px;
}

.page-header {
    border-bottom: 2px solid #dddddd;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    font-size: 30px;
    color: #4aaaa5;
}

.thumbnail {
    border: solid 3px #dddddd;
    padding: 20px 50px;
}


/* main */

#picture {
    width: 200px;
    /* float: left; */
}

/* .caption {
    float: left;
} */


/* footer */

.panel-footer {
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    margin-bottom: -21px;
    margin-left: -1px;
    width: 100%;
    padding-top: 30px;
    border-top: solid 8px #4aaaa5;
}


/* contact */

.btn-send {
    background-color: #4aaaa5;
    color: #ffffff;
}


/* portfolio */

.thumbnail
.thumbnail-picture {
    border: none;
    padding: 0;
    width: 300px;
}

h3 {
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 0 0 0 6px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
}